<html>

<head>
  <title></title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge' />
</head>

<body style='background-color: #f4f4f4; margin: 0 !important; padding: 0 !important;'>
  <!-- HIDDEN PREHEADER TEXT -->
  <div style='max-width: 876px; margin: 0 auto !important; padding-top: 20px'>
    <div
      style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
      Tibe Team
    </div>
    <table border='0' cellpadding='0' cellspacing='0' width='100%'>
      <!-- LOGO -->
      <tr>
        <td bgcolor='#ee607f' align='center'>
          <table border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width: 600px;'>
            <tr>
              <td align='center' valign='top' style='padding: 40px 10px 40px 10px;'> </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor='#ee607f' align='center' style='padding: 0px 10px 0px 10px;'>
          <table border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width: 600px;'>
            <tr>
              <td bgcolor='#ffffff' align='center' valign='top'
                style="padding: 16px 16px 16px 16px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: '-apple-system', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;">
                <h1 style='font-size: 32px; font-weight: 700; margin: 2; color: #03C988'>Chúc mừng</h1>
                <img
                  src='https://raw.githubusercontent.com/tranquocviet226/tranquocviet226.github.io/main/assets/img/payment_success.png'
                  width='200px' height='auto' />
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td bgcolor='#f4f4f4' align='center' style='padding: 0px 10px 0px 10px;'>
          <table border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width: 600px;'>
            <tr>
              <td bgcolor='#ffffff' align='left'
                style="padding: 0 20px 20px 20px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px; text-align: center">
                <p style='margin: 0;'>Kính chào quý khách,
                <p style='margin: 0;'>Đơn hàng của bạn đã sẵn sàng. Tải về ngay nào! </p>
              </td>
            </tr>

            <tr>
              <td bgcolor='#ffffff' align='left'>
                <table width='100%' border='0' cellspacing='0' cellpadding='0'>
                  <tr>
                    <td>
                      <p
                        style="color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 700; text-align: center">
                        Thông tin đơn hàng</p>
                      <div style='display: flex; justify-content: center'>

                        <ul
                          style="padding: 0px 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px; line-break: anywhere;">
                          {{#each urls}}
                          <li style="line-break: anywhere;"><a target="_blank" href="{{ this }}">{{ this }}</a></li>
                          {{/each}}
                        </ul>
                      </div>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
            <!-- COPY -->
            <tr>
              <td bgcolor='#ffffff' align='left'
                style="padding: 0px 30px 20px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                <p style='margin: 16px 0 0 0;'>Nếu bạn có bất kỳ câu hỏi nào - vui lòng
                  phản hồi với chúng tôi qua email.</p>
              </td>
            </tr>
            <tr>
              <td bgcolor='#ffffff' align='left'
                style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;">
                <p style='margin: 0;'>Cheers,<br />Tibe</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td bgcolor='#f4f4f4' align='center' style='padding: 0px 10px 0px 10px;'>
          <table border='0' cellpadding='0' cellspacing='0' width='100%' style='max-width: 600px;'>
            <tr>
              <td bgcolor='#f4f4f4' align='left'
                style="padding: 0px 30px 30px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: 400; line-height: 18px;">
                <br />
                <p style='margin: 0;'>Nếu bạn không đăng ký tài khoản này. Vui
                  lòng bỏ qua email.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</body>

</html>